.Person{
    width: 450px;
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 3px #ddd;
}

@media (min-width: 700px) {
    .Person{
        width: 60%;
    }
}